@model IEnumerable<SMSBO.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Physics)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chemistry)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maths)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Physics)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chemistry)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentId })
        </td>
    </tr>
}

</table>
